p {
    background-color: lightgrey;
    padding: 10px;
    margin: 5px;
    text-align: center;
    word-spacing: 4px;
    border-style: solid;
    border-width: 3px;
    border-color: yellowgreen;
    border-radius: 5px;
    font-size: x-large;
}

div {
    background: darkslategray;
    color: yellowgreen;
    text-align: left;
    padding: 15px 5px 5px;
    column-count: 2;
    column-gap: 15px;
    font-size: x-large;
}

img {
    width: 90%;
    height: auto;
    display: block;
    border: 18px solid royalblue;
}

center {
    font-size: xx-large;
    background-color: darkcyan;
    column-count: 2;
    column-gap: 7px;
    color: white;
}

body {
    background-color: cadetblue;
}

h1 {
    text-align: center;
    display: block;
    color: white;
    background-color: royalblue;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

h2 {
    text-align: left;
    border-style: inset;
    display: inline-block;
    background-color: dodgerblue;
    border-color: darkslateblue;
    color: white;
}

div, center {
    border: 10px solid darkslategray;
}

article {
    display: inline-block;
    text-align: center;
    background-color: darkgreen;
    border-color: black;
    color: whitesmoke;
    border-style: dashed;
    border-width: 7px;
    font-size: xx-large;
}